<nav>
  <div class="nav">
    <div class="navLogo">
      <a href="#">TestingSite</a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/ragistration">Registration</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

  </div>
</nav>