
<%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>

        <div class="container">
            <div class="row">
                <h2>Dashboard Page</h2>
                <hr>
                <p id="changemsg" style="font-weight: bolder; color:#b8b3ad; text-align: center;">Please <a href="/login">Login</a> again to access the dashboard page </p>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>



<script>
//  window.history.back();
//  document.location.replace(document.referrer);
</script>