<%- include("./partials/header.ejs") %>

    <p id="error-msg" style="font-weight: bolder; color:#b8b3ad; text-align: center;margin-top: 4rem;">
        "<%= serverError %>"
    </p>

    <%- include("./partials/footer.ejs") %>